* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

::root {
    --border-size: 3px;
    --border-angle: 0turn;
}

body {
    --border-angle: 0turn;
    background-image: conic-gradient(
        from var(--border-angle),
        #213,
        #112 50%,
        #213
      ),
      conic-gradient(from var(--border-angle), transparent 20%, #08f, #f03);
    background-size: calc(100% - (var(--border-size) * 2))
        calc(100% - (var(--border-size) * 2)),
      cover;
    animation: bg-spin 5s linear infinite;
    background-position: center center;
    background-repeat: no-repeat;
    font-family: sans-serif;
    width: 100%;
    height: 100vh;
    position: relative;

}

h1 {
    text-align: center;
    width: 100%;
    height: fit-content;
    color: white;
    box-shadow: 1.25em 1.25em 1.75em rgba(0,0,0,.25),
    1.125em 1.125em 1.25em rgba(0,0,0,.15);;
    padding: .25em;
    background-color: rgba(0, 0, 0, 0.575);
    border-bottom: 2px solid black;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    font-family: Lucida Handwriting;
    font-size: 3em;
    letter-spacing: 3px;

}

.game {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 350px;
    width: 100%;
    height: 350px;

    margin: 3em auto;
    opacity: 1;
    border-radius: 5px;
}

.tile {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid white;
    background-color: rgba(0, 0, 0, 0.575);
    cursor: pointer;
    border-radius: 50% 20% / 10% 40%;
    font-size: 2em;
    height: 115px;
    font-family: forte;
    box-shadow: 1.25em 1.25em 1.75em rgba(0,0,0,.25),
    1.125em 1.125em 1.25em rgba(0,0,0,.15);;
}


@property --border-angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
}

#test {
    margin: 0 auto;
    width: 100%;
    background-color: red;
}

.gameOver {
    max-width: 350px;
    width: 100%;
    height: 150px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 15em auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    font-family: forte;
    bottom: 0;
}

.WinnerText {
    color: white;
    text-shadow: 2px 2px 2px black;
    font-size: 2em;
    letter-spacing: 2px;
    font-size: 3em;
}

.restart {
    width: 175px;
    padding: 10px;
    color: white;
    font-weight: bolder;
    letter-spacing: 2px;
    cursor: pointer;
    transition: ease-in-out 250ms;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.637);
    margin: 2.5em;
    border-radius: 10px;

    --border-size: 20px;
    --border-angle: 0turn;
    background-image: conic-gradient(
        from var(--border-angle),
        #213,
        #112 50%,
        #213
      ),
      conic-gradient(from var(--border-angle), transparent 1%, rgb(34, 68, 97), rgb(34, 8, 13));
    background-size: calc(100% - (var(--border-size) * 2))
        calc(100% - (var(--border-size) * 2)),
      cover;
    animation: bg-spin 3s linear infinite;
    background-position: center center;
    background-repeat: no-repeat;
}

.restart:hover {
    animation-play-state: paused;

}

.restart:active {
    transform: scale(0.95);
}

.linkedIn, .twitter {
    width: 75px;
    padding: 1.5px;
    margin: auto .5em;
    border-radius: 5px;
    border: none;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.637);
    color: white;
    cursor: pointer;
}

.linkedIn:hover, .twitter:hover {
    opacity: 0.9
}

.linkedIn {
    background-color: rgba(0, 26, 255, 0.829);
}

.twitter {
    background-color: rgba(0, 140, 255, 0.829);
}

.visible {
    display: flex;
    animation: easeIn 1s;
}

@media (max-width: 350px){
    .WinnerText {
        font-size: 2.5em;
    }

    h1 {
        font-size: 2.5em;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
    }
}
@keyframes bg-spin {
    to {
      --border-angle: 1turn;
    }
  }


